 *{padding: 0;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
color: black;}
body {
  background-color: rgb(127, 190, 195);
  margin-top: auto;
  border-radius: 20px;
  
}

.container{
 width:95% ;
  height: 95%;
  background-color: #f5f5f5;
 margin: 30px;
 margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px 4px rgb(2, 62, 105)
}

.navbar {
 
display: flex;
gap: 60%;
align-items: center;

}

.navbar ul{ 
  list-style-type: none;
  display: flex;
}
.navbar ul li{gap: 50px;
margin: 20px;
;}
.navbar ul li a {text-decoration: none;}
  .main-content{display: flex;
  align-items: center;
gap: 50px;
margin-top: 50px;
margin-left: 70px;}
.main-content .details{ 
max-width: 500px;
margin-left: 50px;
padding: 50px;
}
.main-content .details h1{ 
  font-size: 50px;
  color: #050543;
}
.main-content .details span{
   color: #6e80f5; font-size: 20px;
  }
.main-content .photo{
border-radius: 20px;
box-shadow: 0 2px 4px 4px rgb(2, 62, 105) 
}

footer {
display: flex;
margin-top: 140px;

padding: 10px;
}
footer ul{ list-style-type: none;
display: flex;
}
footer ul li{gap: 50px;
margin:0  80px;
text-align: center;
}
